REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_WS_URL=http://localhost:5000


REACT_APP_SUPABASE_URL=https://lwqaollcaergyqcmrmcs.supabase.co
REACT_APP_SUPABASE_ANON_KEY=sb_secret_UqxskxFxWPT6IPiIu-7SAQ_-9IQZJn0


SUPABASE_URL=https://lwqaollcaergyqcmrmcs.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_14fXZLSeQK6grIEPMv9o7A_1UyXR5rk
SUPABASE_SECRET_KEY=sb_secret_UqxskxFxWPT6IPiIu-7SAQ_-9IQZJn0
SUPABASE_JWKS_URL=https://lwqaollcaergyqcmrmcs.supabase.co/auth/v1/.well-known/jwks.json